/* 清浮动 */
.clear{content: ""; clear: both;}

/*校长*/ 
.person{width: 94%; padding: 2rem 0;margin-left: 3%;}
.img img, .left {float: left; }
.name{padding:0  0  6rem 40%;text-align: left;}
.name p, .prinIntr p, .cert p, .explain p, .explain h4, .email {font-weight: 200;opacity: 0.7;}
.name p{font-size: 2rem;margin-top: -2rem;}
.prinIntr{text-align: left;padding: 2rem 0;line-height:3rem;}
.prinIntr p, .cert p, .explain p,.explain h4{font-size: 1.8rem;}
/*证书*/
.cert{text-align: left;width: 96%;}
.cert .right{margin-left: 4rem;}
.cert .right img{margin: 2rem 0;}
/* line */
.line{width: 1px; height: 32rem; margin: 0 50%;}
/*说明*/
.explain{width: 100%;margin-top: -5rem;}
#chinese{width: 90%; padding: 0 5% 2rem;}
.explain h4{opacity: 0.9;line-height: 5rem;}
.explain p,.explain h4, .email{text-align: left;line-height: 3rem;}
.email{font-size: 1.8rem; color: red;display: block;}
#france{background: rgb(244,244,244);width: 90%; padding: 2rem 5%;}
