.content{padding:1rem 0 0  2%;width: 98%;}
.goods{width: 30%;margin: 0 1%;float: left;height: 11rem;}
.imgs{width: 100%;height: 6rem;}
.name{height: 3rem;overflow: hidden;}
.price{color: pink;}
.clear{content: "";clear: both;}
